[submodule "lip"]
	path = lip
	url = https://github.com/informatica-unica/lip
[submodule "lip-unica"]
	path = lip-unica
	url = https://github.com/mikitro04/lip-unica
[submodule "tinysol-lang"]
	path = tinysol-lang
	url = https://github.com/mikitro04/tinysol-lang
